<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>qr code</title>
    <link rel="stylesheet"  href="{%static 'css/style.css'%}">
</head>
<body>
 <div class="container">
     <h1>GENERATE YOUR QR CODE</h1>
     <form method="post" action="/send">
         {% csrf_token%}

         <div class ='user_details'>
             <div class="input_box">
                 <input type="text" name="data" id=entry placeholder="Enter here.......">

             </div>

         <input type="submit" value="Generate QR code" id = btn>
         </div>

     </form>
         {% if data %}

         <img src="{{MEDIA_URL}}{%static 'images/test.png'%}" alt="no image">
         {% else %}

         {% endif %}
 </div>

</body>
</html>


